<!DOCTYPE html>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
      <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
      <script type="text/javascript" src="angular-modal-service/dst/angular-modal-service.min.js"></script>
      <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script>
	  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	  <link rel="stylesheet" type="" href="css/styles.css">

       <script type="text/javascript" src = "inverted-index.js"></script>
       <script type="text/javascript" src = "js/main.js"></script> 
       <script type="text/javascript" src = "js/bundle2.js"></script> 

 
    <title> Inverted Index</title>

    <script type="text/javascript">

     
      
    </script>

    <body ng-app = "myApp" ng-controller='appCtrl' class="navBardemoBasicUsage">
 
  <div>    
    <header>
      <md-content class="md-padding" >
        <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
        <div layout="row" layout-align ="left right">
          <div flex = "90"> <label> INVERTED INDEX</label> </div>
          <a href="" flex = "7">Sign Out</a>
        </div> 
        </md-nav-bar>
      </md-content>
  
    </header>

<div><h1>Select A file to Invert</h1></div>
    <div> <md-button ng-click = "showPrompt()"> Select</md-button>

    </div>

<input type = "file" file-model = "myFile" id = "upload" accept=".json" ng-click="isUploaded = false" multiple/>
  <button class="btn btn-default" ng-click = "uploader()">Upload File</button>
  <button class="btn btn-default" ng-click = "uploader()">Create Index</button>
 
   
        
          <!-- <div class = "md-dialog modal-lg">
            <div class = "md-dialog-content"> 
              <div class = "md-dialog-actions"> 
                <div class = "md-button" ng-click="closeDialog()" class="md-primary">
                 <input type = "file" file-model = "myFile" id = "upload" accept=".json" ng-click="isUploaded = false" multiple/>
                 <button class="btn btn-default" ng-click = "uploader()">Upload File</button>
                 
              </div>
            </div>
           </div>
         </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div> -->
       <table >
        <tr ng-repeat= "(key, value) in createdIndex">
          <td >{{ key }}</td>
        </tr>
        
      </table>
       


  
 
    
   
  </body>
</html>
