<!DOCTYPE>
<html lang="en">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css" />
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script> -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
<!-- <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script> -->
<!-- <script type="text/javascript" src="angular-modal-service/dst/angular-modal-service.min.js"></script> -->
<!-- <script src="http://ngmaterial.assets.s3.amazonaws.com/svg-assets-cache.js"></script> -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<link rel="stylesheet" type="" href="css/styles.css" />
<title> Inverted Index</title>
<!-- <script type="text/javascript">
</script> -->

<body ng-app="myApp" ng-controller='appCtrl' class="navBardemoBasicUsage">
    <div>
        <header>
            <md-content class="md-padding">
                <md-nav-bar md-selected-nav-item="currentNavItem" nav-bar-aria-label="navigation links">
                    <div layout="row" layout-align="left right">
                        <div flex="90">
                            <label> INVERTED INDEX</label>
                        </div>
                       
                    </div>
                </md-nav-bar>
            </md-content>
        </header>
    </div>

    <div class = "row" >
        <div class="col-md-5" id = "i">
            <h2>Choose A file to Invert </h2>  
            <div class = "row" id = "space">  
                <div class = "col-md-8"><input type="file" file-model="myFile" id="upload" accept=".json"></div>
                <div class="col-md-3"><button class="btn btn-default btn-primary" ng-click="uploader(); displayDiv();">Upload File</button></div>
                <div id = "book">
                    <select class="selectpicker" id = "filename">
                        <option value="allBooks">All Books</option>
                        <option ng-repeat="value in name"> {{value}}</option>
                    </select>
                </div>
            </div>
            <div class="row top-buffer" style="display:none;" id = "crt">
                   <button class="btn btn-default" ng-click="create()">Create Index</button>
                    <input type="text" id = "term" placeholder="Search for.." >
                    <button class="btn btn-default " ng-click="search()"> go </button>
              
            </div>
      </div>  
    <!--<div class = "md-dialog modal-lg">
            <div>
            <md-button ng-click="showPrompt()"> Select</md-button>
        </div>
            <div class = "md-dialog-content"> 
              <div class = "md-dialog-actions"> 
                <div class = "md-button" ng-click="closeDialog()" class="md-primary">
                 <input type = "file" file-model = "myFile" id = "upload" accept=".json" ng-click="isUploaded = false" multiple/>
                 <button class="btn btn-default" ng-click = "uploader()">Upload File</button>
                 
              </div>
            </div>
           </div>
         </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>-->
        <div class = " col-md-7">
            <table class = "col-md-6 table jumbotron table-hover table-responsive ">
                <thead>
                    <th ng-if= "count.length > 0"> Term </th>
                    <th ng-repeat = "key in count">{{"Doc" + key}}</th>      
                </thead>

                <tr ng-repeat="(key,value) in createdIndex track by $index">
                    <td>{{ key }} - {{ value }}</td>
                    <td ng-repeat="book in count">
                        <!-- <span >{{ value.includes(book) ? 'Yes' : 'No' }}</span> -->
                        <i class="fa fa-check" ng-if="value.includes(book)"></i>
                        <i class="fa fa-close" ng-if="!value.includes(book)"></i>
                    </td>
                </tr>
            </table>
        </div>
    </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script type="text/javascript" src="inverted-index.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
</body>

</html>
